{{ define "config-general" }}
<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" }}
    <link href="/styles/config-general.css" rel="stylesheet" />
</head>

<body>
    {{ template "snackbar" }}
    <div class="logo-container">
        <img class="head-logo" src="/images/logo.svg" alt="Horusec Logo">

        <h1>
            <img src="/icons/settings.svg">
            General
        </h1>
    </div>

    <section class="container">
        <form onsubmit="event.preventDefault();submitGeneralForm()" id="form">
            <div class="form-container-row">
                <div class="divider">
                    <label class="key">HORUSEC_JWT</label>

                     <span class="description">
                        For security, the value of this secret must be created through the Kubernets secret managers.
                    </span>

                    <span class="description italic">
                        kubectl create secret generic $JWT_KEY --from-literal="$JWT_NAME={your_strong_value}"
                    </span>

                    <div class="inputs-group">
                        <input name="global.jwt.secretKeyRef.name" placeholder="$JWT_NAME" type="text">

                        <input name="global.jwt.secretKeyRef.key" placeholder="$JWT_KEY" type="text">
                    </div>
                </div>

                <div class="divider">
                    <label class="key">HORUSEC_ENABLE_APPLICATION_ADMIN</label>

                    <span class="description">Use this option to enable/disable the use of application admin. <br> View
                        more
                        about in this section of the <a target="_blank"
                            href="https://docs.horusec.io/docs/tutorials/how-to-enable-disable-application-admin/">documentation</a>.</span>

                    <label class="switch">
                        <input id="horusec_enable_application_admin" name="components.auth.user.administrator.enabled" value="false" type="checkbox"
                            onchange="handleSwitchEnableApp()">
                        <span class="slider round"></span>
                    </label>

                    <div class="embedded">
                        <label class="key">EMAIL_ADMIN_APPLICATION</label>

                        <span class="description">
                            The email for admin application.
                        </span>

                        <input name="components.auth.user.administrator.email" placeholder="Email" type="email">
                    </div>

                    <div class="embedded">
                        <label class="key">USER</label>

                        <span class="description">
                            <!-- TODO: Padrão secret -->
                        </span>

                        <div class="inputs-group">
                            <input id="components.auth.user.administrator.user.secretKeyRef.key" placeholder="Username" type="text">

                            <input id="components.auth.user.administrator.user.secretKeyRef.name" placeholder="Password" type="password">
                        </div>
                    </div>

                    <div class="embedded">
                        <label class="key">PASSWORD</label>

                        <span class="description">
                            <!-- TODO: Padrão secret -->
                        </span>

                        <div class="inputs-group">
                            <input id="components.auth.user.administrator.password.secretKeyRef.key" placeholder="Username" type="text">

                            <input id="components.auth.user.administrator.password.secretKeyRef.name" placeholder="Password" type="password">
                        </div>
                    </div>
                </div>

                 <div class="divider">
                    <label class="key">HORUSEC_ENABLE_DEFAULT_USER</label>

                    <span class="description">Use this option to enable/disable the use of application admin. <br> View
                        more
                        about in this section of the <a target="_blank"
                            href="https://docs.horusec.io/docs/tutorials/how-to-enable-disable-application-admin/">documentation</a>.</span>

                    <label class="switch">
                        <input id="horusec_enable_application_admin" name="components.auth.user.administrator.enabled" value="false" type="checkbox"
                            onchange="handleSwitchEnableApp()">
                        <span class="slider round"></span>
                    </label>

                    <div class="embedded">
                        <label class="key">EMAIL_ADMIN_APPLICATION</label>

                        <span class="description">
                            The email for admin application.
                        </span>

                        <input name="components.auth.user.administrator.email" placeholder="Email" type="email">
                    </div>

                    <div class="embedded">
                        <label class="key">USER</label>

                        <span class="description">
                            <!-- TODO: Padrão secret -->
                        </span>

                        <div class="inputs-group">
                            <input id="components.auth.user.administrator.user.secretKeyRef.key" placeholder="Username" type="text">

                            <input id="components.auth.user.administrator.user.secretKeyRef.name" placeholder="Password" type="password">
                        </div>
                    </div>

                    <div class="embedded">
                        <label class="key">PASSWORD</label>

                        <span class="description">
                            <!-- TODO: Padrão secret -->
                        </span>

                        <div class="inputs-group">
                            <input id="components.auth.user.administrator.password.secretKeyRef.key" placeholder="Username" type="text">

                            <input id="components.auth.user.administrator.password.secretKeyRef.name" placeholder="Password" type="password">
                        </div>
                    </div>
                </div>
            </div>

            <div class="btns-wrapper">
                <button type="submit">SAVE</button>

                <button class="outline">
                    <a href="/view/home">BACK</a>
                </button>
            </div>
        </form>
    </section>
</body>

<script type="text/javascript">
window.onload = () => {
    setCurrentValues()
};

function submitGeneralForm(e) {
    const inputs = document.querySelectorAll('input')

    let body = {}

    inputs.forEach(item => {
        const value = item.type === 'checkbox' ? toBoolean(item.value) : item.value

        body = {
            ...body,
            [item.id]: value
        }
    })

    sendRequest(body)
}
function handleSwitchEnableApp() {
    let currentValue = document.getElementById('horusec_enable_application_admin').value
    const valueToSet = currentValue == 'true' ? 'false' : 'true'
    setEnableApplicationAdmin(valueToSet)
}
</script>

</html>
{{end}}
