{{ define "config-hosts" }}
<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" }}
    <link href="/styles/config-hosts.css" rel="stylesheet" />
</head>

<body>
    {{ template "snackbar" }}
    <div class="logo-container">
        <img class="head-logo" src="/images/logo.svg" alt="Horusec Logo">

        <h1>
            <img src="/icons/globe.svg">
            Hosts
        </h1>
    </div>

    <section class="container">
        <h3>Run the web application in other host: <a href="https://docs.horusec.io/docs/tutorials/how-to-run-the-web-application-on-other-host/">tutorial</a>.</h3>

        <form onsubmit="return submitForm(event)">
            <div class="form-container-row">
                <div class="divider">
                    <label class="key" for="api_url">API Service</label>

                    <span class="description">URL for the API service.</span>

                    <input name="components.api.ingress.host" placeholder="http://127.0.0.1:8000" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="analytic_url">Analytic Service</label>

                    <span class="description">URL for the Analytic service.</span>

                    <input name="components.analytic.ingress.host" placeholder="http://127.0.0.1:8005" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="core_service">Core Service</label>

                    <span class="description">URL for the Core service.</span>

                    <input name="components.core.ingress.host" placeholder="http://127.0.0.1:8003" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="auth_url">Auth Service</label>

                    <span class="description">URL for the Auth service.</span>

                    <input name="components.auth.ingress.host" placeholder="http://127.0.0.1:8006" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="vulnerability_url">Vulnerability Service</label>

                    <span class="description">URL for the Vulnerability service.</span>

                    <input name="components.vulnerability.ingress.host" placeholder="http://127.0.0.1:8001" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="webhook_url">Webhook Service</label>

                    <span class="description">URL for the Webhook service.</span>

                    <input name="components.webhook.ingress.host" placeholder="http://127.0.0.1:8004" type="text">
                </div>

                <div class="divider">
                    <label class="key" for="manager_url">Manager Dashboard</label>

                    <span class="description">URL for the Manager.</span>

                    <input name="components.manager.ingress.host" placeholder="http://127.0.0.1:8080" type="text">
                </div>
            </div>

            <div class="btns-wrapper">
                <button type="submit">SAVE</button>

                <button class="outline">
                    <a href="/view/home">BACK</a>
                </button>
            </div>
        </form>
    </section>
</body>

<script type="text/javascript">
window.onload = () => {
    setCurrentValues()
};
function submitForm(event) {
    event.preventDefault();

    const body = toK8sObject(event.target);

    sendRequest(body);
}
</script>

</html>
{{end}}
