{{ define "options-form" }}
    <div class="btns-wrapper">
        <button type="submit">SAVE</button>

        <button class="outline">
            <a href="/view/home">BACK</a>
        </button>
    </div>
{{end}}
