{{ define "secret" }}
    <span class="secret-title"> <img src="/icons/secret.svg" /> SECRET</span>

    <span class="secret-description">
        For security, the value of this secret must be created through the <a target="_blank" href="https://kubernetes.io/docs/concepts/configuration/secret/">Kubernetes secret managers</a>.
    </span>
{{end}}
